<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />

    <!-- Stylesheets
    ============================================= -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../../client/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="../../client/css/stylesheets/style.css" type="text/css" />
    <link rel="stylesheet" href="../../client/css/dark.css" type="text/css" />
    <link rel="stylesheet" href="../../client/css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="../../client/css/animate.css" type="text/css" />
    <link rel="stylesheet" href="../../client/css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="../../client/css/stylesheets/w3.css" type="text/css" />
    <link rel="stylesheet" href="../../client/css/stylesheets/main.css" type="text/css" />
    <link rel="stylesheet" href="../../client/css/arial-geo.min.css">


    <link rel="stylesheet" href="../../client/css/responsive.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!--[if lt IE 9]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->

    <!-- Document Title
    ============================================= -->
    <title>GSM Guru</title>

</head>

<body class="stretched">
    <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '389823831395542',
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
   
</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=1828802387394486";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

    <!-- Header
    ============================================= -->
    <header id="header" class="dark">

        <div id="header-wrap">

            <div class="container clearfix">

                <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                <!-- Logo
                ============================================= -->
                <div id="logo">
                    <a href="/" class="standard-logo" data-dark-logo="../../client/images/gurulogo.png"><img src="../../client/images/gurulogo.png" alt="GSM Guru"></a>
                    <a href="/" class="retina-logo" data-dark-logo="../../client/images/gurulogo.png"><img src="../../client/images/gurulogo.png" alt="Guru"></a>
                </div><!-- #logo end -->

                <!-- Primary Navigation
                ============================================= -->
                <nav id="primary-menu">

                    <ul class="sf-js-enabled" style="touch-action: pan-y;">
                        <li><a href="/"><div class="hover-effect active-link">სიახლე</div></a>
                        </li>
                        <li><a href="#"><div class="hover-effect">სხვადასხვა</div></a>
                        </li>
                        <li><a href="#"><div class="hover-effect">ანდროიდი</div></a>
                        </li>
                        <li><a href="#"><div class="hover-effect">აიფონი</div></a>
                        </li>
                        <li><a href="#"><div class="hover-effect">აპები</div></a>
                        </li>
                    </ul>



                    <!-- Top Search
                    ============================================= -->
                    <div id="top-search">
                        <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
                        <form action="" method="get">
                            <input type="text" name="q" class="form-control" value="" placeholder="შეიყვანე ტექსტი &amp; დააჭირე ენტერს">
                        </form>
                    </div><!-- #top-search end -->

                </nav><!-- #primary-menu end -->

            </div>

        </div>


    </header><!-- #header end -->

<!-- Content
============================================= -->
    <div class="container">
    <div class="row">
        <div class="col-md-9 col-sm-12" id="my-container">
            <!-- Post Content
            ============================================= -->
            <div class="blog-title-container">
                <div class="show-blog-header">
                    <img src="<%= app.icon %>" alt="<%= app.icon %>">
                    <div class="blabla">
                    <ul class="entry-meta clearfix">
                        <li><i class="icon-calendar3"></i><%= app.date.toDateString() %></li>
                        <li><a href="#"><i class="icon-user"></i><%= app.author.fullname %></a></li>
                        <li><i class="icon-folder-open"></i> <a href="#">General</a>, <a href="#">Media</a></li>
                    </ul>
                        <div class="blog-share clearfix">
                                <a href="#" class="social-icon si-borderless si-text-color si-facebook" id="shareBtn" title="Facebook">
                                    <i class="icon-facebook"></i>
                                    <i class="icon-facebook"></i>
                                </a>
                                <a href="#" class="social-icon si-borderless si-text-color si-twitter" title="Twitter">
                                    <i class="icon-twitter"></i>
                                    <i class="icon-twitter"></i>
                                </a>
                                <a href="#" class="social-icon si-borderless si-text-color si-youtube" title="Youtube">
                                    <i class="icon-youtube"></i>
                                    <i class="icon-youtube"></i>
                                </a>
                        </div>
                    </div>
                    <div class="line"><h4><%= app.title %></h4></div>
                </div>
            </div>

            <%- app.content %>
             <!-- Comments
			============================================= -->
            <div id="comments" class="clearfix">

                <!-- Facebook Comments
                ============================================= -->
                <div class="fb-comments" data-width="100%" data-href="https://guru-muru-sandrinio.c9users.io/client/app/show/<%= app._id %>" data-numposts="5" data-colorscheme="light"></div>
                <!-- Facebook Comments end -->
            </div><!-- #comments end -->

        </div>

        <!-- Sidebar
        ============================================= -->
        <% var x = 5 %>
        <div class="sidebar-margins">
            <div class="col-md-3 col-sm-12">

                <div class="widget clearfix">
                    <h4>აპები</h4>
                    <div class="post-list-footer">
                        <% for(i = 0; i < x; i++) { %>
                        <div class="spost clearfix">
                            <div class="entry-image">
                                <a href="#">
                                    <img src="../../client/images/1.jpg" alt="">
                                </a>
                            </div>
                            <div class="entry-c">
                                <div class="entry-title">
                                    <a href="#"><h4>Viber</h4></a>
                                    <ul class="entry-meta"><li>10.03.2017</li></ul>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>

                <div class="widget clearfix">
                    <h4>ახალი დამატებული</h4>
                    <div class="post-list-footer">
                        <% for(i = 0; i < x; i++) { %>
                        <div class="spost clearfix">
                            <div class="entry-image">
                                <a href="#">
                                    <img src="../../client/images/1.jpg" alt="">
                                </a>
                            </div>
                            <div class="entry-c">
                                <div class="entry-title">
                                    <a href="#"><h4>როგორ გადმოვწეროთ აპლიკაციები ანდროიდზე</h4></a>
                                    <ul class="entry-meta"><li>10.03.2017</li></ul>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div><!-- .sidebar end -->
            
        </div>
    </div>
</div>
</section><!-- #content end -->

    <script>
      document.getElementById('shareBtn').onclick = function() {
        FB.ui({
          method: 'share',
          display: 'popup',
          href: 'http://localhost:3000/client/app/show/<%= app._id %>',
        }, function(response){});
      }
    </script>


<!-- Footer
============================================= -->
<footer id="footer" class="dark">

    <div class="container">

        <!-- Footer Widgets
        ============================================= -->
        <div class="footer-widgets-wrap clearfix">

            <div class="col_one_third">



            </div>

        </div>

    </div><!-- .footer-widgets-wrap end -->

</footer><!-- #footer end -->

</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- External JavaScripts
============================================= -->
<script type="text/javascript" src="../../client/js/jquery.js"></script>
<script type="text/javascript" src="../../client/js/plugins.js"></script>

<!-- Footer Scripts
============================================= -->
<script type="text/javascript" src="../../client/js/functions.js"></script>


</body>
</html>
